# === VS Code ===
.vscode/
*.code-workspace

# === macOS ===
.DS_Store

# === PlatformIO ===
.pio/
*.elf
*.bin
*.hex

# === Arduino IDE ===
*.ino.*
*.sdf
*.d
*.dep

# === Fichiers de logs ou runtime ===
*.log
*.csv

# === SPIFFS et fichiers générés ===
data/chauffage.csv
data/history.csv
spiffs.bin

# === Fichiers temporaires ===
*.bak
*.tmp
